[submodule "src/printf"]
	path = src/lib/printf
	url = https://github.com/mpaland/printf

[submodule "src/lib/tinyusb"]
	path = src/lib/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "src/teensy41/ILI9341_t3n"]
	path = src/teensy41/ILI9341_t3n
	url = https://github.com/KurtE/ILI9341_t3n.git
